<header [class.headerDark] = "darkMode">



    
    <img *ngIf="!darkMode"  routerLink="/" src="assets/images/Arzum_white.png">
    <img *ngIf="darkMode"  routerLink="/" src="assets/images/logo_black.png">

    <div [class.darkLinks] = "darkMode">            <!--10.-->
        <a routerLink="/">START</a>
        <!--<a href="#">LEBENSLAUF</a> 
            <a href="#">PROJEKTE</a> -->
        <a routerLink ="/imprint">IMPRESSUM</a>
        <a routerLink ="/data-protection">DATENSCHUTZ</a>
    </div>

</header>